<div class="info">
    <div class="divinfo">
        <div class="title">
            <div class="proposta">
                <h2>Excluir Ramal</h2>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="input-3 marginr">
                <label>Nome</label>
                <input disabled [(ngModel)]="ramais.nome">
            </div>
            <div class="input-3 marginr">
                <label>Setor</label>
                <input disabled [(ngModel)]="ramais.setor">
            </div>
            <div class="input-3 marginr">
                <label>Ramal</label>
                <input disabled [(ngModel)]="ramais.ramal">
            </div>
        </div>
        <button class="marginr" onclick="return confirm('Tem certeza de que deseja excluir este item?');" (click)="deleteRamal()">Excluir</button>
        <button (click)="cancel()">Sair</button>
    </div>
</div>