<div class="info">
    <div class="divinfo">
        <div class="title">
            <div class="proposta">
                <h2>Criar Aniversariante</h2>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="input-3 marginr">
                <label>Nome</label>
                <input [(ngModel)]="aniversariante.nome">
            </div>
            <div class="input-3 marginr">
                <label>Data</label>
                <input type="date" [(ngModel)]="aniversariante.data">
            </div>
            <div class="input-3 marginr">
                <label>url da Imagem</label>
                <input type="url" [(ngModel)]="aniversariante.foto">
            </div>
        </div>
        <button class="marginr" (click)="createAniversariante()">Criar</button>
        <button (click)="cancel()">Sair</button>
    </div>
</div>